body {
    margin: 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;  
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A8E6CF;
}

.page.dark {
    background-color: #50707F;
}

.chatContainer {
    display: flex;
    width: 90lvw;
    height: 90lvh;
    margin: 5lvh 5lvw;
    background-color: transparent;
    -webkit-box-shadow: 10px 20px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 20px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 20px 20px 0px rgba(0,0,0,0.75);
}

.contactSection {
    width: 33%;
    border-right: 1px solid #c5c5c5;
    background-image: linear-gradient(to bottom, #ffffff, #dfe2f4, #b6c9ea, #81b2df, #2a9dd0);
}

.contactSection.dark, .messageSection.dark {
    background-image: linear-gradient(to bottom, #242424, #3a3d4b, #475976, #467aa4, #2a9dd0);
}

.contactHeader {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #242424;
    padding: 10px;
}

.contactHeader p {
    font-size: 25px;
    font-weight: 700;
    margin-left: 10px;
}

.contactHeader.dark, .messageHeader.dark {
    color: #efefef
}

.btns {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchIcon {
    width: 50%;
    height: 100%;
    background-image: url('./search-light.svg');
    background-size: cover;
    cursor: pointer;
    transition: .4s ease;
    border-radius: 10px;
}

.searchIcon:hover {
    background-color: #cccccc;
}

.searchIcon.dark {
    background-image: url('./search-dark.svg');
}

.filterSection {
    height: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s ease;
}

.filterSection.show {
    height: 5%;
    transition: .4s ease;
}

.filter {
    width: 90%;
    height: 0;
    display: none;
    transition: .4s ease;
}

.filter.show {
    height: 100%;
    display: block;
}

.filter.dark {
    background-color: transparent;
}

.contactContainer {
    height: 90%;
    overflow: auto;
    transition: .4s ease;
}

.contactContainer.reduce {
    height: 85%;
    transition: .4s ease;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.contact {
    height: 20%;
    background-color: transparent;
    color: #242424;
    display: flex;
    flex-direction: row;
    text-align: start;
    border-radius: 34px;
    margin: 5%;
    align-items: center;
}

.contact:hover > .photo {
    width: 0;
    height: 0;
    margin: 0;
    border: none;
}

.contact:hover > .contactData { 
    width: 100%;
 }

.photo {
    width: 30%;
    height: 90%;
    background-color: #efefef;
    border-radius: 100%;
    margin: 0 15px 0 0;
    border: 1px solid #242424;
    transition: .4s ease;
}

.contactData {
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 40px;
    background-color: #efefef;
    padding: 20px;
    transition: .4s ease;
    cursor: pointer;
}

.contactData.dark {
    color: #efefef;
    background-color: #1D4355;
}

.contactData p {
    margin: 5px 0 5px 0;
}

.messageHour p {
    font-size: 15px;
}

.messageHour {
    display: inherit;
    justify-content: space-between;
}

.messageSection {
    width: 67%;
    background-image: linear-gradient(to bottom, #ffffff, #dfe2f4, #b6c9ea, #81b2df, #2a9dd0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.messageHeader {
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 75%;
    align-items: center;
    text-align: start;
    color: #1D4355;
    border: 1px solid #242424;
    border-top: none;
    border-radius: 0 0 20px 20px;
    background-color: #efefef85;
}

.photoMiniature {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 100%;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #242424;
}

.nameHeader, .statusHeader {
    margin: 2px 0 0 0;
}

.statusHeader {
    font-size: 15px;
}

.messageContainer {
    height: 80%;
}

.inputDiv {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #efefef85;
    border-radius: 10px 10px 0 0;
}

.messageHeader.dark, .inputDiv.dark, .messageInput.dark {
    background-color: #3B5c6b;
    color: #efefef;
}

.messageInput {
    width: 90%;
    display: inherit;
    margin-left: 20px;
    margin-top: 10px;
}

.sendBtn {
    background-image: url('./send-light.svg');
    background-size: 40px 40px;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    margin: auto;
    border-radius: 20px;
    margin-right: 20px;
    margin-left: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

@media only screen and (max-width: 800px) {
    
}