body {
    margin: 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;  
}

* {
    box-sizing: border-box;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E4355;
}

.chatContainer {
    display: flex;
    width: 100lvw;
    height: 100lvh;
    margin: 0lvh 0lvw;
}

.contactSection {
    width: 33%;
    border-right: 1px solid #c5c5c5;
    background-color: #ffffff;
    flex-wrap: wrap;
    transition: .4s ease;
}

.contactSection.dark, .messageSection.dark {
    background-color: #1D4355;
}

.contactHeader {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #242424;
    padding: 10px;
}

.contactHeader p {
    font-size: 25px;
    font-weight: 700;
    margin-left: 10px;
}

.contactHeader.dark, .messageHeader.dark {
    color: #efefef;
}

.tabs {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.recent, .allContacts {
    cursor: pointer;
    width: 50%;
    transition: .4s ease;
    border: none;
}

.recent.selected, .allContacts.selected {
    border-bottom: 1px solid #242424;
}

.recent.selected.dark, .allContacts.selected.dark {
    border-bottom: 1px solid #efefef;
}

.btns {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.searchIcon, .modeBtn {
    width: 30px;
    height: 30px;
    background-size: cover;
    cursor: pointer;
    transition: .4s ease;
    border-radius: 10px;
}

.openCloseBtn {
    display: none;
}

.filterSection {
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s ease;
}

.filter {
    width: 90%;
    height: 100%;
    display: block;
    transition: .4s ease;
    border: 1px solid #242424;
    transition: .4s ease;
}

.filter.dark {
    color: #efefef;
    background-color: transparent;
    border: 1px solid #efefef;
}

.contactContainer {
    height: 85%;
    display: flex;
    flex-direction: row;
    transition: .4s ease;
    overflow-y: hidden;
    overflow-x: hidden;
}

.recentConv, .contacts {
    width: 0%;
    transition: .4s ease;
    z-index: 0;
    background-color: #ffffff;
}

.recentConv.dark, .contacts.dark {
    width: 0%;
    transition: .4s ease;
    z-index: 0;
    background-color: #1D4355;
}

.recentConv.show, .contacts.show {
    width: 100%;
    transition: .4s ease;
    z-index: 1;
    background-color: #ffffff;
    overflow-y: auto;
}

.recentConv > .recentConvItem {
    display: none;
}

.recentConv.show > .recentConvItem {
    display: flex;
}

.contacts > .contact {
    display: none;
}

.contacts.show > .contact {
    display: flex;
}

.recentConv.dark.show, .contacts.dark.show {
    width: 100%;
    transition: .4s ease;
    z-index: 1;
    background-color: #1D4355;
}

.contactContainer.reduce {
    height: 85%;
    transition: .4s ease;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.contact, .recentConvItem {
    height: 15%;
    background-color: transparent;
    color: #242424;
    display: flex;
    flex-direction: row;
    text-align: start;
    border-radius: 10px;
    margin: 2%;
    align-items: center;
    padding: 10px;
    transition: .4s;
}

.contact.active {
    background-color: transparent;
}


.recentConvItem.dark > .contactData {
    color: #efefef;
}

.contact:hover, .recentConvItem:hover {
    background-color: #efefef;
}

.contact.dark > .contactData {
    color: #efefef;
}

.contact.dark:hover, .recentConvItem.dark:hover {
    background-color: #71878F;
}

.photo {
    width: 80px;
    height: 80px;
    background-color: #efefef;
    border-radius: 100%;
    border: 1px solid #242424;
    transition: .4s ease;
}

.contactData {
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 40px;
    background-color: transparent;
    padding: 0 20px 0 20px;
    transition: .4s ease;
    cursor: pointer;
}

.contactData p {
    margin: 5px 0 5px 0;
}

.messageHour p {
    font-size: 15px;
}

.messageHour {
    display: inherit;
    justify-content: space-between;
}

.messageSection {
    width: 67%;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .4s ease;
}

.messageHeader {
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 85%;
    align-items: center;
    text-align: start;
    color: #1D4355;
    border: 1px solid #242424;
    border-top: none;
    border-radius: 0 0 20px 20px;
    background-color: #ffffff;
    transition: .4s ease;
}

.photoMiniature {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 100%;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #242424;
}

.nameHeader, .statusHeader {
    margin: 2px 0 0 0;
}

.statusHeader {
    font-size: 15px;
}

.messageContainer {
    height: 80%;
    width: 100%;
}

.messageList {
    width: 100%;
    height: 100%;
    color: #242424;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

ul {
    margin: 0;
    padding: 0;
}

.other-message, .own-message {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 10px 10%;
    border: 1px solid #242424;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 8px 5px 0px rgba(36,36,36, .9);
}

.other-message.dark, .own-message.dark {
    border: 1px solid #efefef;
    box-shadow: none;
}

.other-message.dark {
    color: #efefef;
    background-color: #365B6D;
}

.other-message {
    justify-content: left;
    align-items: start;
    background-color: #ffffff;
}

.own-message.dark {
    color: #efefef;
    background-color: #398d8b;
}

.own-message {
    align-self: end;
    justify-content: right;
    align-items: end;
    background-color: #289DD2;
}

.nomeMsg {
    width: 100%;
    font-size: 15px;
    font-weight: 900;
    margin: 5px 0;
    text-align: left;
}

.msgInfo {
    width: 100%;
    text-align: left;
}

.msg, .time {
    font-size: 13px;
    word-break: break-all;
}

.time {
    text-align: right;
}

.inputDiv {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px 10px 0 0;
    border: 1px solid #242424;
    transition: .4s ease;
}

.counter {
    display: block;
    color: #242424;
    margin-left: 0;
}

.counter.dark {
    color: #efefef;
}

.messageHeader.dark, .inputDiv.dark, .messageInput.dark {
    background-color: #365B6D;
    color: #efefef;
    border: 1px solid #efefef;
}

.messageInput {
    width: 90%;
    display: inherit;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 0;
    border: 1px solid #242424;
    transition: .4s ease;
}

.messageInput.dark {
    border: 1px solid #efefef;
}

.messageInput.dark::placeholder, .filter.dark::placeholder {
    color: #efefef;
}

.messageHeader.dark {
    border-top: none;
}

.sendBtn {
    background-image: url('./send-light.svg');
    background-size: 40px 40px;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    margin: auto;
    border-radius: 20px;
    margin-right: 20px;
    margin-left: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.sendBtn.dark {
    background-image: url('./send-dark.svg');
}

@media only screen and (max-width: 800px) {
    .contactSection {
        width: 10%;
        transition: .4s ease;
    }

    .contactSection.open {
        width: 100%;
    }

    .photo {
        width: 70px;
        height: 70px;
    }

    .contact {
        margin: 5px 10px;
    }

    .tabs.show {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .tabs, .btns, .filterSection, .contactContainer, .contactHeader p {
        display: none;
        transition: .4s ease;
    }

    .filterSection.show{
        display: flex;
    }

    
    .openCloseBtn {
        display: flex;
        background: url('./open-right-light.svg') no-repeat center center;
        background-size: cover;
        width: 50px;
        height: 20px;
        cursor: pointer;
        transition: .4s ease;
    }

    .openCloseBtn.dark {
        background: url('./open-right-dark.svg') no-repeat center center;
        background-size: cover;
    }

    .openCloseBtn.clicked {
        display: flex;
        background: url('./close-left-light.svg') no-repeat center center;
        background-size: cover;
        width: 30px;
        height: 20px;
        cursor: pointer;
    }

    .openCloseBtn.clicked.dark {
        background: url('./close-left-dark.svg') no-repeat center center;
        background-size: cover;
    }

    .btns.show, .contactHeader.show p {
        display: flex;
        transition: .4s ease;
    }

    .contactContainer.show {
        display: block;
        height: 85%;
        overflow-y: auto;
    }

    .messageSection {
        width: 90%;
        transition: .4s ease;
    }

    .messageSection.reduce {
        width: 0%;
    }

    .messageSection.reduce > * {
        display: none; 
    }

    .filter {
        margin: 5px 0 0 0;
        transition: .4s ease;
    }
}